body {
    background-color: #2D4255;
}
nav {
    margin-top: -50px !important;
}

nav .container-fluid, .nav{
    font-family: "Roboto Slab", serif;
    font-size: 25px;
    background-color: #A32A37;
    padding-right: 10px;
}

nav a {
    color: rgba(255,255,255,0.5) !important;
    margin-left: 10px;
    background-color: #A32A37;
}

nav li:hover {
    background-color: #A32A37;
}

.navbar-inverse .navbar-collapse {
    margin-top: 2px;
}


nav a:hover {
    color: #fff !important;
}
nav .active a {
    height: 60px;
    color: #fff !important;
    background-color: #450614 !important;
    background-image: none !important;
}

nav a {
    padding-top: 20px !important;
}
.jumbotron {
    font-family: "Droid Sans", sans-serif;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ADBCC3;
}

h1 {
    font-family: "Roboto Slab", serif;
}
h2 {
    margin: 15px;
    font-family: "Roboto Slab", serif;
}

.question {
    min-width: 100%;
    min-height: 500px;
    background-color: #EFFBFF;
    padding: 20px;
    padding-top: 5px;
    border-radius: 25px;
}

.slider-val {
    font-size: 35px;
}

.slider.slider-horizontal .slider-track {
    margin-top: 20px !important;
}

.tooltip.top {
    margin-top: -10px !important;
}

label {
    margin-left: 10px;
}

/*
.slider-container {
    font-size: 20px;
    max-width: 30%;
    float: left;
    text-align: center;
    padding-right: 20px;
    min-height: 160px;
    border-right: 2px solid rgba(150,0,0,0.5);
}

.radio-container {
    font-size: 20px;
    max-width: 70%;
    padding-left: 25px;
    float: left;
}
*/

.slider-handle {
    background-color: #A32A37 !important;
    background-image: none !important;
}

.slider-track-low, .slider-selection {
    color: #2E040E !important;
    background-color: #450614 !important;
    background-image: none !important;
}

.slider-track-high {
    background-color: dimgrey !important;
    background-image: none !important;
}

#submit {
    margin-left: 35%;
    width: 30%;
    height: 60px;
    background-color: #A32A37;
    color: #fff;
    border-radius: 10px;
    font-size: 25px;
    border-bottom-color: darkred !important;
    border-top-color: darkred !important;
    border-left-color: darkred !important;
    border-right-color: darkred !important;
}

    .slider-container {
        font-size: 20px;
        width: 100%;
        float: left;
        text-align: center;
        padding-right: 20px;
        min-height: 160px;
        border-bottom: 2px solid rgba(150,0,0,0.5);
    }

    .radio-container {
        font-size: 20px;
        width: 100%;
        padding-left: 25px;
        float: left;
    }
