body {
    background-color: #2D4255;
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid>.navbar-collapse {
    margin-left: 0px;
}
.navbar-nav {
    margin: 0px;
}

nav {
    margin-top: -50px !important;
    width: 100%;

}


nav .container-fluid, .nav{
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    background-color: #A32A37;
    padding-right: 10px;
}

.nav>li {
    margin-left:-15px;
}

nav a {
    color: rgba(255,255,255,0.5) !important;
    margin-left: 20px;
    background-color: #A32A37;
}

nav li:hover {
    background-color: #A32A37;
}

.navbar-inverse .navbar-collapse {
    margin-top: 2px;
}


nav a:hover {
    color: #fff !important;
}
nav .active a {
    height: 60px;
    color: #fff !important;
    background-color: #450614 !important;
    background-image: none !important;
}

nav a {
    padding-top: 20px !important;
}
.jumbotron {
    font-family: "Droid Sans", sans-serif;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ADBCC3;
    width: 100%;
}



h1 {
    font-family: "Roboto Slab", serif;

}
h2 {
    margin: 15px;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
}

.question {
    min-width: 100%;
    min-height: 300px;
    background-color: #EFFBFF;
    padding: 20px;
    padding-top: 5px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.question > h2 {
    margin-left: 0px;
    margin-right: 0px;
}
.question > .container {
    padding-left: 0px;
    padding-right: 0px;
}

.slider-val {
    font-size: 35px;
}

.slider.slider-horizontal .slider-track {
    margin-top: 20px !important;
}

.tooltip.top {
    margin-top: -10px !important;
}

label {
    margin-left: 10px;
    width: 90%;
    vertical-align: middle;
    font-size: 15px;
}


/*
.slider-container {
    font-size: 20px;
    max-width: 30%;
    float: left;
    text-align: center;
    padding-right: 20px;
    min-height: 160px;
    border-right: 2px solid rgba(150,0,0,0.5);
}

.radio-container {
    font-size: 20px;
    max-width: 70%;
    padding-left: 25px;
    float: left;
}
*/

.slider-handle {
    background-color: #A32A37 !important;
    background-image: none !important;
}

.slider-track-low, .slider-selection {
    color: #2E040E !important;
    background-color: #450614 !important;
    background-image: none !important;
}

.slider-track-high {
    background-color: dimgrey !important;
    background-image: none !important;
}

#submit {
    margin-left: 35%;
    width: 30%;
    height: 60px;
    background-color: #A32A37;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    border-bottom-color: darkred !important;
    border-top-color: darkred !important;
    border-left-color: darkred !important;
    border-right-color: darkred !important;
}

    .slider-container {
        font-size: 20px;
        width: 100%;
        float: left;
        text-align: center;
        padding-right: 20px;
        min-height: 210px;
        border-bottom: 2px solid rgba(150,0,0,0.5);
    }

    .radio-container {
        font-size: 20px;
        width: 100%;
        padding-top: 20px;
        float: left;
    }


#about-us {
    min-width: 100%;
    background-color: #EFFBFF;
    padding: 30px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    width: 480px;
    float: none;
    margin: auto;
    display: block;
}

.footer li{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    display: inline;
    text-align: center;
}

.footer a:hover {
    text-decoration: none;
    color: #ADBCC3;
}

#matches {
    width: 100%;
    display: block;
}

#match-text {
    width: 60%;
    float: left;
}

.match-img {
    display: inline;
    float: left;
    width: 50px;
    vertical-align: middle;
}

.question2 {
    min-width: 100%;
    background-color: #FFF;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    overflow: hidden;
}

#party-container {
    width: 60%;
    min-height: 40px;
    padding: 0px;
    margin: 0px;
    float: left;
}

#party-name {

    display:inline-block;
    margin-left: 5%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 15px;

}

#percentage {
    width: 15%;
    float: right;
    font-size: 20px;
    margin-right: 5%;
    margin-left: 0px;
    vertical-align: middle;
}

.fb-share-button, .fb_iframe_widget {
    float: right;
    vertical-align:bottom;
}

#about-us > p {
    margin-left: 0px;
    font-size: 15px;
    text-align: justify;
}

#about-us > h2 {
    margin-left: 0px;
}

#about-us > li {
    font-size: 15px;
}


#eqn {
    text-align: center;
    font-family: serif;
}

#share-results {
    margin-right: 0px;
    text-align: right;
}

#graphs > img {
    min-width: 100%;
}

