body {
    background-image: url(/static/img/splash.jpg);
    background-size: cover;
}


.navbar-nav {
    margin: 0px;
}

nav {
    margin-top: -50px !important;
    width: 100%;

}


nav .container-fluid, .nav{
    font-family: "Roboto Slab", serif;
    font-size: 25px;
    background-color: #A32A37;
    padding-right: 10px;
}

nav a {
    color: rgba(255,255,255,0.5) !important;
    margin-left: 20px;
    background-color: #A32A37;
}

nav li:hover {
    background-color: #A32A37;
}

.navbar-inverse .navbar-collapse {
    margin-top: 2px;
}


nav a:hover {
    color: #fff !important;
}
nav .active a {
    height: 60px;
    color: #fff !important;
    background-color: #450614 !important;
    background-image: none !important;
}

nav a {
    padding-top: 20px !important;
}
.jumbotron {
    font-family: "Droid Sans", sans-serif;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ADBCC3;
}
h1 {
    font-family: "Roboto Slab", serif;
    color: white;
    text-align: center;
    font-size: 45px;
}

#submit-div{
    width: 100%;
    overflow: hidden;

}

#submit {
    margin-top: 50px;
    font-family: "Roboto Slab", sans-serif;
    margin-left: 0px;
    min-width: 200px;
    width: 100%;
    height: 100px;
    background-color: #A32A37;
    color: #fff;
    border-radius: 10px;
    font-size: 35px;
    border-bottom-color: darkred !important;
    border-top-color: darkred !important;
    border-left-color: darkred !important;
    border-right-color: darkred !important;
}

@media screen and (max-width:799px) {

    body{
        padding-left: 0px;
        padding-right: 0px;
    }


    h1{
        font-size: 35px;
    }

    #submit {
        font-size: 25px;
    }

    .container-fluid>.navbar-collapse {
        margin-left: 0px;
    }
    .navbar-nav {
        margin: 0px;
    }
    .navbar-inverse {
        margin-bottom: 0px;
    }

    nav {
        margin-top: -50px !important;
        width: 100%;

    }


    nav .container-fluid, .nav{
        font-family: "Roboto Slab", serif;
        font-size: 20px;
        background-color: #A32A37;
        padding-right: 10px;
    }

    .nav>li {
        margin-left:-15px;
    }

    nav a {
        color: rgba(255,255,255,0.5) !important;
        margin-left: 20px;
        background-color: #A32A37;
    }

    nav li:hover {
        background-color: #A32A37;
    }

    .navbar-inverse .navbar-collapse {
        margin-top: 2px;
    }


    nav a:hover {
        color: #fff !important;
    }
    nav .active a {
        height: 60px;
        color: #fff !important;
        background-color: #450614 !important;
        background-image: none !important;
    }

    nav a {
        padding-top: 20px !important;
    }
    .jumbotron {
        font-family: "Droid Sans", sans-serif;
        padding: 15px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #ADBCC3;
        width: 100%;
    }

    #main-splash {
    padding: 40px;
    background-color: rgba(45,66,85,0.5);
    margin-top: 0px;
    }

    #language-bar {
        text-align: center;
        padding-left: 0px;
    }

    #language-bar li{
        display: inline;
        text-align: center;
        font-size: 28px;
        color: white;
        font-family: "Roboto Slab", sans-serif;
    }

    #language-bar a {
        text-decoration: none;
        color: white;
    }

    #language-bar a:hover {
        text-decoration: underline;
    }


}

@media screen and (min-width: 800px) {

    #submit{
        max-width: 500px;
        position: absolute;
        left: 50%;
        margin-left: -250px;
    }

    #submit-div {
        height: 200px;
        background: none;
    }

    #main-splash {
        padding: 40px;
        background-color: rgba(45,66,85,0.5);
        margin-top: 10%;
    }
    
    #language-bar {
        text-align: center;
        padding-left: 0px;
    }

    #language-bar li{
        display: inline;
        text-align: center;
        font-size: 35px !important;
        color: white;
        font-family: "Roboto Slab", sans-serif;
    }

    #language-bar a {
        text-decoration: none;
        color: white;
    }

    #language-bar a:hover {
        text-decoration: underline;
    }
}

#submit a {
    color: white;
    text-decoration: none;
}

#about-us {
    min-width: 100%;
    background-color: #EFFBFF;
    padding: 30px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    width: 480px;
    float: none;
    margin: auto;
    display: block;
}

.footer li{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    display: inline;
    text-align: center;
}

.footer a:hover {
    text-decoration: none;
    color: #ADBCC3;
}


