<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Electionaire</title>

  <meta property="og:url"           content="http://www.electionaire.info/about" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="About - Electionaire" />
  <meta property="og:description"   content="Read our methodology on how we constructed this survey." />
  <meta property="og:image"         content="https://electionaire.s3.amazonaws.com/flag.svg" />

  <link rel='shortcut icon' href='/static/ico/favicon.ico' type='image/x-icon'/ >
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media='screen and (min-width: 1001px)' href="/static/css/main.css">
  <link rel="stylesheet" media='screen and (max-width: 1000px)' href="/static/css/1000.css">

  <style>
    html      { overflow-y: scroll; }
    body      { padding-top:50px;}
  </style>
  <script src="/static/js/jquery-1.11.2.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>

  <link rel="stylesheet" href="css/bootstrap-slider.css">
  <script src="/static/js/bootstrap-slider.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-static">
        <div class="container-fluid">
            <!-- Electionaire and toggle get GROUPED for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('front')}}">Electionaire</a>
            </div>

            <!-- COLLECT the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('survey_ma')}}">TINJAUAN</a></li>
                    <li class="active"><a href="{{url_for('about_ma')}}">TENTANG <span class="sr-only">(current)</span></a></li>
                    <li><a href="mailto:weijie.koh@yale-nus.edu.sg" target="_top">HUBUNGAN</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a target="_blank" href="https://github.com/seansaito/Electionaire">LIHAT KOD SUMBER  <span><i class="fa fa-github"></i></span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">

        <div class="jumbotron">
            <h1>ABOUT US</h1>

            <div id="about-us">
                <p>
                  Electionaire ialah buah hasil kerja sekumpulan pelajar di Kolej Yale-NUS (Yale-NUS College). Ia tidak diyokong, dibiayai oleh atau bersekutu dengan sebarang parti politikal.

                </p>
                <p>Suka Halaman <a href="https://www.facebook.com/electionaire">Facebook kami!</a></p>
                <br>
                <h2>Pasukan kami</h2>
                <ul>
                    <li>Koh Wei Jie</li>
                    <li>Maggie Schumann</li>
                    <li>Parag Bhatnagar</li>
                    <li>Rohan Naidu</li>
                    <li>Sean Saito</li>
                </ul>
                <br>
                <br>
                <h2>Mengenai Tinjauan Ini</h2>
                <br>
                <h2>Electionaire bukankah satu latihan untuk memungut pendapat umum. </h2>
                <p>
                    Laman ini tidak menanyakan anda siapa yang anda merancang untuk mengundi. Electionaire membandingkan pendapat anda mengenai isu-isu Pilihan Raya 2015 (GE2015) dengan polisi-polisi seluruh 10 parti politikal Singapura, dan selepas itu mengukur berapakah peratus pendapat anda setuju dengan posisi parti-parti politikal masing-masing.                </p>
                 <br>

                <h2>Electionaire tidak merakam informasi anda. </h2>
                <p>
                  Laman ini tidak menanyakan untuk informasi yang boleh mengenal pasti anda, mencatat alaman IP atau menyimpan cookies. Hanya anda yang akan mengetahui jawapan yang telah diberi. Electionaire tries to be objective. Electionaire mencuba untuk tidak berat-sebelah.
                </p>
                <br>

                <h2>Electionaire tries to be objective.</h2>
                <p>
                    Pasukan kami memeriksa teliti manifesto dan kenyataan umum semua parti politik. Semasa memilih isu-isu untuk kemukakan, kami juga mempertimbangkan berapa parti mengutamakannya. Sukarelawan dari pelbagai latar belakang dan pelbagai kecenderungan politikal telah mencatat skor untuk setiap polisi parti masing-masing. Kami mengaku bahawa perlambangan kami tentang posisi-posisi semua pari politik mungkin tidak sempurna. Algoritma yang diguna untuk mengira dan memadankan pandangan anda dengan polisi-polisi setiap parti boleh didapati di <a target="_blank" href="https://github.com/seansaito/Electionaire">sini</a>.

                </p>
                <br>
                <h2>Metodologi </h2>
                <p>
                    Padanan Electionaire hanya satu anggaran sahaja. Kami membandingkan pandangan anda dengan pendirian semua 10 parti yang dilihat dan dikumpul oleh pasukan penyelidik. Proses penyelidikan telah dijalankan seperti berikut:                     <ul>
                        <li>
                          Pasukan penyelidik kami merumuskan satu senarai soalan yang mengemukakan isu-isu pilihan raya yang berbilang parti politik telah memberi kenyataan umum tentang. Pasukan penyelidik memeriksa manifesto dan kenyataan umum parti-parti politik untuk meringkaskannya ke dalam 15 isu yang paling penting kepada Pilihan Raya Singapura 2015.
                        </li>
                        <li>
                            Kemudian, pasukan penyelidik mengumpulkan pernyataan daripada setiap parti terhadap setiap isu. Jika satu pendirian jelas tidak boleh didapati, pasukan kami bercuba untuk mencari satu pernyataan tentang satu isu lain yang berkaitan. Jika pasukan kami tidak boleh mendapati satu pernyataan yang berkaitan, mereka mencatat pendirian parti tersebut sebagai "tidak disebut". Lihat Spreadsheet di <a target="_blank" href="https://docs.google.com/spreadsheets/d/1yOqqxOdEF4vVeGnhlMlJXPVSOU_1Iof44XiB6O_T53Q/edit?usp=sharing">sini</a>.

                        </li>
                        <li>
                            Berbilang penilai dari pelbagai latar belakang dan kecenderungan politik menggunakan Spreadsheet di atas untuk menilai parti-parti pada skala 0-4 untuk kesetujuan parti tersebut dengan setiap pertanyaan. 0 mewakili "Tidak Setuju", 1 mewakili "tidak setuju dengan kecualian", 2 mewakili "Tidak ada pendapat", 3 mewakili "Setuju dengan kecualian" dan 4 mewakili "Setuju". Lihat purata pernilaiaan di <a target="_blank" href="https://docs.google.com/spreadsheets/d/1GZdSzXNlJh9Xq7zuv0dSfLtOtVaXWtC93wLk_CjlJlI/edit?usp=sharing">sini</a>.
                        </li>
                    </ul>
                    <p>
                      Jawapan-jawapan anda yang bersepadan dengan skala 0-4 yang sama, selapasnya dibanding dengan penilaian purata setiap parti. Darjah perbezaan antara jawapan anda dan purata penilaian setiap parti kemudian ditimbang mengikut darjah kepentingan setiap pertanyaan yang anda telah menyata di samping masa berjawab. Sisihan ini dikira ke satu peratus. Algoritma tepat ialah berikut:
                </p>
<br>
                  <br>
                   <div id="eqn">
                       <i id="eqn">Jumlah Sisihan = Jumlah (Timbangan setiap soalan yang dinyata oleh penjawab) * (Nilai parti - nilai penjawab) untuk soalan 1-15</i>
                       <br>
                       <br>
                       <i id="eqn">
                         Peratus akhir = 100 - Jumlah Sisihan/(Kemungkinan jumlah sisihan maximum - kemungkinan sisihan minimum)
                       </i>

                   </div>

                    <br>
            <div id="graphs">
                <img src="/static/img/graphs/q_1.png">
                <img src="/static/img/graphs/q_2.png">
                <img src="/static/img/graphs/q_3.png">
                <img src="/static/img/graphs/q_4.png">
                <img src="/static/img/graphs/q_5.png">
                <img src="/static/img/graphs/q_6.png">
                <img src="/static/img/graphs/q_7.png">
                <img src="/static/img/graphs/q_8.png">
                <img src="/static/img/graphs/q_9.png">
                <img src="/static/img/graphs/q_10.png">
                <img src="/static/img/graphs/q_11.png">
                <img src="/static/img/graphs/q_12.png">
                <img src="/static/img/graphs/q_13.png">
                <img src="/static/img/graphs/q_14.png">
                <img src="/static/img/graphs/q_15.png">
            </div>
            </div>

        </div>

    </div>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67150391-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
