<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Electionaire</title>

    <meta property="og:url"           content="http://www.electionaire.info/survey" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Electionaire"/>
    <meta property="og:description"   content="Take the survey to find out which party thinks like you." />
    <meta property="og:image"         content="https://electionaire.s3.amazonaws.com/flag.svg" />

    <link rel='shortcut icon' href='/static/ico/favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media='screen and (min-width: 1001px)' href="/static/css/main.css">
    <link rel="stylesheet" media='screen and (max-width: 1000px)' href="/static/css/1000.css">

    <style>
        html      { overflow-y: scroll; }
        body      { padding-top:50px;}
    </style>
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <link rel="stylesheet" href="css/bootstrap-slider.css">
    <script src="/static/js/bootstrap-slider.js"></script>
</head>

<body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-inverse navbar-fixed-static">
        <div class="container-fluid">
            <!-- Electionaire and toggle get GROUPED for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('front')}}">Electionaire</a>
            </div>

            <!-- COLLECT the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{url_for('survey_tm')}}">ஆய்வு</a></li>
                    <li><a href="{{url_for('about_tm')}}">ஆய்வு பற்றி</a></li>
                    <li><a href="mailto:weijie.koh@yale-nus.edu.sg" target="_top">தொடர்புக் கொள்ள</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a target="_blank" href="https://github.com/seansaito/Electionaire">பார்வை மூல குறியீடு  <span><i class="fa fa-github"></i></span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
  <div class="container">

    <div class="jumbotron">
    <!-- Your share button code -->
    {% set rankings = deviation_rankings %}

      <div class="container" id="matches">

      <h1 id="match-text">உங்கள் கருத்து இந்த கட்சிகளுடன் ஒத்துபோகிறது
      </h1>
      <h2 id="share-results">Facebook இல் பகிர்</h2>
        <span>
          <div class="fb-share-button"
               data-href="http://www.electionaire.info/{{rankings[0]['name']}}/{{ '%.2f' | format(rankings[0]['deviation'])}}/{{rankings[1]['name']}}/{{ '%.1f' | format(rankings[1]['deviation'])}}/{{rankings[2]['name']}}/{{ '%.2f' | format(rankings[2]['deviation'])}}"
               data-layout="button">
          </div>
        </span>
      </div>
    <br>
    {% set counter = 1 %}
    {% for party in deviation_rankings %}
        <div class="question2">
            <div class="match-img"><img src="/static/img/{{ party['short'] }}.png" style="max-height: 10%; max-width: 100%;"></div>
            <div id="party-container">
            <h2 id="party-name"><!--{{ counter }}.--> {{party["name"]}}</h2>
            </div>
        <h3 id="percentage">{{ "%.1f" | format(party["deviation"])}}%  </h3>
        </div>
<!--        {% set counter = counter + 1 %}-->
    {% endfor %}

    <h2 id="match-text"><a href="{{url_for('about')}}">இங்கு</a> உங்கள் ஆய்வு முடிவுகளை அறிந்துக்கொள்ளுங்கள்</h2>
    <h2 id="share-results">Facebook இல் பகிர்</h2>
      <span>
        <div class="fb-share-button"
             data-href="http://www.electionaire.info/{{rankings[0]['name']}}/{{ '%.2f' | format(rankings[0]['deviation'])}}/{{rankings[1]['name']}}/{{ '%.1f' | format(rankings[1]['deviation'])}}/{{rankings[2]['name']}}/{{ '%.2f' | format(rankings[2]['deviation'])}}"
             data-layout="button">
        </div>
      </span>
    </div>


    </div>

  </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67150391-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
