<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Electionaire</title>

    <meta property="og:url"           content="https://electionaire.herokuapp.com/survey" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="I got {{deviation_rankings[0]['name']}}!" />
    <meta property="og:description"   content="Yar yar" />
    <meta property="og:image"         content="https://electionaire-ync-test.s3.amazonaws.com/flag.png" />

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media='screen and (min-width: 1001px)' href="/static/css/main.css">
    <link rel="stylesheet" media='screen and (max-width: 1000px)' href="/static/css/1000.css">

    <style>
        html      { overflow-y: scroll; }
        body      { padding-top:50px;}
    </style>
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/bootstrap-slider.js"></script>
</head>

<body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


  <div class="container">

    <div class="jumbotron">
    <!-- Your share button code -->
    {% set rankings = deviation_rankings %}

      <div class="container" id="matches">

      <h1 id="match-text">Your matches
      </h1>
              <div class="fb-share-button"
               data-href="http://electionaire.herokuapp.com/{{rankings[0]['name']}}/{{ '%.2f' | format(rankings[0]['deviation'])}}/{{rankings[1]['name']}}/{{ '%.2f' | format(rankings[1]['deviation'])}}/{{rankings[2]['name']}}/{{ '%.2f' | format(rankings[2]['deviation'])}}"
               data-layout="button">
          </div>
      </div>
    <br>
    {% set counter = 1 %}
    {% for party in deviation_rankings %}
        <div class="question2">
            <div class="match-img"><img src="/static/img/{{ party['short'] }}.png" style="max-height: 10%; max-width: 100%;"></div>
            <div id="party-container">
            <h2 id="party-name"><!--{{ counter }}.--> {{party["name"]}}</h2>
            </div>
        <h3 id="percentage">{{ "%.2f" | format(party["deviation"])}}%  </h3>
        </div>
<!--        {% set counter = counter + 1 %}-->
    {% endfor %}

    </div>

  </div>

</body>
