<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Electionaire</title>

  <meta property="og:url"           content="http://electionaire.herokuapp.com/survey" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Electionaire {{work}}" />
  <meta property="og:description"   content="Take the survey to find out which party your views match with!" />
  <meta property="og:image"         content="https://electionaire-ync-test.s3.amazonaws.com/flag.svg" />

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media='screen and (min-width: 1001px)' href="/static/css/main.css">
  <link rel="stylesheet" media='screen and (min-width: 500px) and (max-width: 1000px)' href="/static/css/1000.css">

  <style>
    html      { overflow-y: scroll; }
    body      { padding-top:50px;}
  </style>
  <script src="/static/js/jquery-1.11.2.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/static/css/bootstrap-slider.css">
  <script src="/static/js/bootstrap-slider.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-static">
        <div class="container-fluid">
            <!-- Brand and toggle get GROUPED for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('splash')}}">Electionaire</a>
            </div>

            <!-- COLLECT the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{url_for('index')}}">SURVEY <span class="sr-only">(current)</span></a></li>
                    <li><a href="{{url_for('about')}}">ABOUT</a></li>
                    <li><a href="{{url_for('contact')}}">CONTACT</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">

        <div class="jumbotron">
            <h2>Take the survey to find out which party your views align with.</h2>


            <form method="POST" action="{{url_for('index')}}">
                <div class="question">
                    <h2>Singapore should address income inequality before pursuing economic growth.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex1CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex1SliderVal">3</span>
                            <input id="ex1" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="1"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="1" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="1" value="3"><label for="r2"> Yes, Singapore can afford to slow down its growth a bit to address economic inequality.</label><br>
                        <input id="r3" type="radio" name="1" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="1" value="1"><label for="r4"> No, as overall growth is the best way to help the poor.</label><br>
                        <input id="r5" type="radio" name="1" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question" id="two-line-qn">
                    <h2>Singapore should grant fewer visas to low-skilled migrants.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex2CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex2SliderVal">3</span>
                            <input id="ex2" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="2"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="2" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="2" value="3"><label for="r2"> Yes, Singapore should decrease visas for industries that rely too heavily on foreign labor. Other industries are fine.</label><br>
                        <input id="r3" type="radio" name="2" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="2" value="1"><label for="r4"> No, but visas should only be increased for industries that Singaporeans don't want to work in.</label><br>
                        <input id="r5" type="radio" name="2" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>


                <div class="question" id="two-line-qn">
                  <h2>Singapore should grant fewer permanent residencies to high-skilled migrants.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex3CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex3SliderVal">3</span>
                            <input id="ex3" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="3"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="3" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="3" value="3"><label for="r2"> Yes, but Singapore should try to avoid population decline.</label><br>
                        <input id="r3" type="radio" name="3" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="3" value="1"><label for="r4"> No, not until its birth rate increases.</label><br>
                        <input id="r5" type="radio" name="3" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question" id="two-line-qn">
                  <h2>Companies and organizations should be required to search for a Singaporean before hiring a foreigner. </h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex4CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex4SliderVal">3</span>
                            <input id="ex4" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="4"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="4" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="4" value="3"><label for="r2"> Yes, but this policy should only apply for managerial positions. </label><br>
                        <input id="r3" type="radio" name="4" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="4" value="1"><label for="r4"> No, but if there are two similar candidates and one is Singaporean, he or she should be given the job.</label><br>
                        <input id="r5" type="radio" name="4" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question" id="two-line-qn">
                  <h2>Singapore should abolish 377A, which criminalizes homosexual acts.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex5CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex5SliderVal">3</span>
                            <input id="ex5" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="5"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="5" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="5" value="3"><label for="r2"> Yes, but the majority has to approve of any changes to it. </label><br>
                        <input id="r3" type="radio" name="5" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="5" value="1"><label for="r4"> No, but if the majority approves, I will accept it. </label><br>
                        <input id="r5" type="radio" name="5" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question" id="two-line-qn">
                  <h2>Singapore should expand its civil liberties (freedom of speech, freedom of public assembly, etc.)</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex6CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex6SliderVal">3</span>
                            <input id="ex6" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="6"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="6" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="6" value="3"><label for="r2"> Yes, but social cohesion should always be the first priority.</label><br>
                        <input id="r3" type="radio" name="6" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="6" value="1"><label for="r4"> No, but punishments for violations should be minimal.</label><br>
                        <input id="r5" type="radio" name="6" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question" id="two-line-qn">
                  <h2>Singapore should abolish streaming practices in education.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex7CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex7SliderVal">3</span>
                            <input id="ex7" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="7"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="7" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="7" value="3"><label for="r2"> Yes, but not until an alternative is found. </label><br>
                        <input id="r3" type="radio" name="7" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="7" value="1"><label for="r4"> No, but streaming at the end of primary school is too early.</label><br>
                        <input id="r5" type="radio" name="7" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question" id="two-line-qn">
                  <h2>Singapore should lower the minimum withdrawal age for CPF.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex8CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex8SliderVal">3</span>
                            <input id="ex8" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="8"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="8" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="8" value="3"><label for="r2"> Yes, but only for those who were promised access at age 55.</label><br>
                        <input id="r3" type="radio" name="8" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="8" value="1"><label for="r4"> No, but Singapore should not increase its withdrawal age beyond 65.</label><br>
                        <input id="r5" type="radio" name="8" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question" id="two-line-qn">
                  <h2>Citizens should have free access to their CPF funds once they reach the withdrawal age. </h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex9CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex9SliderVal">3</span>
                            <input id="ex9" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="9"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="9" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="9" value="3"><label for="r2"> Yes, access should be substantially relaxed, although there should still be a limit on withdrawals. </label><br>
                        <input id="r3" type="radio" name="9" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="9" value="1"><label for="r4"> No, access should only be relaxed a bit, as total freedom invites mismanagement. </label><br>
                        <input id="r5" type="radio" name="9" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question">
                  <h2>CPF money should only be used for retirement purposes.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex10CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex10SliderVal">3</span>
                            <input id="ex10" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="10"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="10" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="10" value="3"><label for="r2"> Yes, but citizens should be able to access CPF funds for aging-related expenses like healthcare.</label><br>
                        <input id="r3" type="radio" name="10" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="10" value="1"><label for="r4"> No, citizens should be able to access CPF funds for both retirement and purchasing property.</label><br>
                        <input id="r5" type="radio" name="10" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question">
                  <h2>The government should increase welfare spending.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex11CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex11SliderVal">3</span>
                            <input id="ex11" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="11"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="11" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="11" value="3"><label for="r2"> Yes, but it should encourage its citizens to be self-reliant.</label><br>
                        <input id="r3" type="radio" name="11" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="11" value="1"><label for="r4"> No, but it should increase its financial support for charitable organizations.</label><br>
                        <input id="r5" type="radio" name="11" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question">
                  <h2>The government should increase income taxes for the rich.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex12CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex12SliderVal">3</span>
                            <input id="ex12" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="12"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="12" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="12" value="3"><label for="r2"> Yes, but Singapore should not set its income tax rate below other nations'.</label><br>
                        <input id="r3" type="radio" name="12" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="12" value="1"><label for="r4"> No, but it should increase taxes on the resident wealthy in other ways.</label><br>
                        <input id="r5" type="radio" name="12" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question">
                  <h2>Singapore should establish a minimum wage.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex13CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex13SliderVal">3</span>
                            <input id="ex13" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="13"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="13" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="13" value="3"><label for="r2"> Yes, but only in some industries.</label><br>
                        <input id="r3" type="radio" name="13" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="13" value="1"><label for="r4"> No, but Singapore should provide skills training for its lowest earners.</label><br>
                        <input id="r5" type="radio" name="13" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question">
                  <h2>The government should abolish racial quotas for housing estates.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex14CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex14SliderVal">3</span>
                            <input id="ex14" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="14"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="14" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="14" value="3"><label for="r2"> Yes, but the government should intervene if ethnic enclaves start to form.</label><br>
                        <input id="r3" type="radio" name="14" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="14" value="1"><label for="r4"> No, but it should make the quotas more flexible.</label><br>
                        <input id="r5" type="radio" name="14" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <div class="question">
                  <h2>Ministerial salaries should be significantly reduced.</h2>
                    <div class="slider-container">
                        <div class="slider slider-horizontal">
                            <span id="ex15CurrentSliderValLabel">How important is this issue to you? </br> <span style="font-size: 0.7em;">(1-low, 5-high)</span> </span><br>
                            <span class="slider-val" id="ex15SliderVal">3</span>
                            <input id="ex15" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                   data-slider-value="3" name="15"/>

                        </div>
                    </div>
                    <div class="radio-container">
                        <input id="r1" type="radio" name="15" value="4"><label for="r1"> Yes.</label><br>
                        <input id="r2" type="radio" name="15" value="3"><label for="r2"> Yes, but they should still be benchmarked to private sector rates.</label><br>
                        <input id="r3" type="radio" name="15" value="2"><label for="r3"> Neutral.</label><br>
                        <input id="r4" type="radio" name="15" value="1"><label for="r4"> No, but salaries should still be generous relative to the normal population.</label><br>
                        <input id="r5" type="radio" name="15" value="0"><label for="r5"> No.</label><br>
                    </div>
                </div>

                <button id="submit" type="submit">Submit</button>
            </form>

        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function(){

          /*
            $("#ex1").slider();
            $("#ex1").on("slide", function(slideEvt) {
                $("#ex1SliderVal").text(slideEvt.value);
            });

            $("#ex2").slider();
            $("#ex2").on("slide", function(slideEvt) {
                $("#ex2SliderVal").text(slideEvt.value);
            });

            $("#ex3").slider();
            $("#ex3").on("slide", function(slideEvt) {
                $("#ex3SliderVal").text(slideEvt.value);
            });
          */

          {% for question in questions %}

          $("#ex" + {{question|safe}}).slider();
          $("#ex" + {{question|safe}}).on("slide", function(slideEvt) {
            $("#ex" + {{question|safe}} + "SliderVal").text(slideEvt.value);
          });
            {% endfor %}

        });

    </script>

</body>
</html>
