<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Electionaire</title>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media='screen and (min-width: 1001px)' href="/static/css/main.css">
  <link rel="stylesheet" media='screen and (min-width: 500px) and (max-width: 1000px)' href="/static/css/1000.css">

  <style>
    html      { overflow-y: scroll; }
    body      { padding-top:50px;}
  </style>
  <script src="/static/js/jquery-1.11.2.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/static/css/bootstrap-slider.css">
  <script src="/static/js/bootstrap-slider.js"></script>
</head>

<body>
  <div class="container">

      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
              <!-- Brand and toggle get GROUPED for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Brand</a>
              </div>

              <!-- COLLECT the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="#">SURVEY <span class="sr-only">(current)</span></a></li>
                      <li><a href="#">ABOUT</a></li>
                      <li><a href="#">CONTACT</a></li>
                  </ul>
          </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>

    <div class="jumbotron">
      <h1>Electionaire! Take the survey!</h1>


        <form method="POST" action="/">
        <div class="question">
            <div class="slider-container">
                <h2>1. Dogs are better than cats</h2>
                <div class="slider slider-horizontal">
                    <input id="ex6" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                           data-slider-value="3" name="1"/>
                    <span id="ex6CurrentSliderValLabel">How important is this issue to you? </span>
                    <span id="ex6SliderVal">3</span>
                </div>
            </div>
            <div class="radio-container">
                <input id="r1" type="radio" name="1" value="4"><label for="r1"> Agree</label></br>
                <input id="r2" type="radio" name="1" value="3"><label for="r2"> Agree only when the dog has short hair</label></br>
                <input id="r3" type="radio" name="1" value="2"><label for="r3"> Both are adorable!</label></br>
                <input id="r4" type="radio" name="1" value="1"><label for="r4"> Disagree only when the cat is not a jerk</label></br>
                <input id="r5" type="radio" name="1" value="0"><label for="r5"> Disagree</label></br>
            </div>


    </div>

<div class="question">
    <div class="slider-container">
        <h2>1. Dogs are better than cats</h2>
                <div class="slider slider-horizontal">
                    <input id="ex7" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                       data-slider-value="3" name="1"/>
                    <span id="ex7CurrentSliderValLabel">How important is this issue to you? </span>
                    <span id="ex7SliderVal">3</span>
                </div>
            </div>
            <div class="radio-container">
                <input id="r1" type="radio" name="1" value="4"><label for="r1"> Agree</label></br>
                <input id="r2" type="radio" name="1" value="3"><label for="r2"> Agree only when the dog has short hair</label></br>
                <input id="r3" type="radio" name="1" value="2"><label for="r3"> Both are adorable!</label></br>
                <input id="r4" type="radio" name="1" value="1"><label for="r4"> Disagree only when the cat is not a jerk</label></br>
                <input id="r5" type="radio" name="1" value="0"><label for="r5"> Disagree</label></br>
            </div>

        </div>

        <div class="question">
            <div class="slider-container">
                <h2>1. Dogs are better than cats</h2>
                <div class="slider slider-horizontal">
                    <input id="ex8" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                       data-slider-value="3" name="1"/>
                    <span id="ex8CurrentSliderValLabel">How important is this issue to you? </span>
                    <span id="ex8SliderVal">3</span>
                </div>
            </div>
            <div class="radio-container">
                <input id="r1" type="radio" name="1" value="4"><label for="r1"> Agree</label></br>
                <input id="r2" type="radio" name="1" value="3"><label for="r2"> Agree only when the dog has short hair</label></br>
                <input id="r3" type="radio" name="1" value="2"><label for="r3"> Both are adorable!</label></br>
                <input id="r4" type="radio" name="1" value="1"><label for="r4"> Disagree only when the cat is not a jerk</label></br>
                <input id="r5" type="radio" name="1" value="0"><label for="r5"> Disagree</label></br>
            </div>
        </div>

            <button type="submit">Submit</button>
        </form>

    </div>

  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#ex6").slider();
      $("#ex6").on("slide", function(slideEvt) {
        $("#ex6SliderVal").text(slideEvt.value);
      });

      $("#ex7").slider();
      $("#ex7").on("slide", function(slideEvt) {
        $("#ex7SliderVal").text(slideEvt.value);
      });

      $("#ex8").slider();
      $("#ex8").on("slide", function(slideEvt) {
        $("#ex8SliderVal").text(slideEvt.value);
      });

    });
  </script>

</body>
</html>
