<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Electionaire</title>

  <meta property="og:url"           content="http://electionaire.herokuapp.com/{{first}}/{{ '%.2f' | format(fp)}}/{{second}}/{{ '%.2f' | format(sp)}}/{{third}}/{{ '%.2f' | format(tp)}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="I took the survey! Take the survey to find out which party your views match with!" />
  <meta property="og:description"   content="Here are my top three matches: \n 1. {{first}} - {{'%.2f' | format(fp)}}%        \n 2. {{second}} - {{ '%.2f' | format(sp)}}%         \n 3. {{third}} - {{ '%.2f' | format(tp)}}" />
  <meta property="og:image"         content="https://electionaire-ync-test.s3.amazonaws.com/flag.png" />


</head>
<body>
</body>
</html>
